<%= form_with model: [plan, comment], local: false do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, rows: '3', placeholder: "コメント(空欄不可)", class: "w-100 form-control" %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <%= f.submit "送信", class: "btn btn-sm btn-outline-dark btn-block" %>
      </div>
    </div>
  </div>
<% end %>