<div class="col-md-5 mx-auto">
  <% users.each do |user| %>
    <div class="d-flex mb-5">
      <div>
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image, size: "150x150", class: "rounded-circle" %>
        <% end %>
      </div>
      <div class="ml-5 mt-3">
        <p style="font-size: 20px;"><%= user.name %></p>
        <p style="font-size: 15px;"><%= user.introduction %></p>
      </div>
    </div>
  <% end %>
</div>