<div class="col-md-5 mx-auto">
  <% users.each do |user| %>
    <div class="d-flex mb-5" style="border: 1px solid; padding: 10px; border-radius: 10px;">
      <div>
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image, size: "50x50", class: "rounded-circle" %>
        <% end %>
      </div>
      <div class="ml-5">
        <p style="font-size: 20px;"><%= simple_format(user.name, class: 'text-break') %></p>
        <p><%= simple_format(user.introduction, class: 'text-break') %></p>
      </div>
    </div>
  <% end %>
</div>