// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table_line {
	display: table;
	width: 600px;
}

.block {
	display: table-cell;
	border: solid 1px #999;
	width: 200px;
}