// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index {
  display: flex;
  flex-wrap: wrap;
}

.post {
  width: 300px;
  height: 400px;
  margin: 10px 10px 30px 10px;
  border: 1px solid #000;
  border-radius: 10px;
}

.post:nth-child(3n) {
  margin-right: 0px;
}

.plan_image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  height: 30px;
  line-height: 30px;
}

.impression {
  height: 80px;
}

.icons, .fas, .user {
  height: 40px;
  line-height: 40px;
}

.impression, .icons, .user {
  width: 290px;
  margin: 0 auto;
}

.user {
  text-align: right;
}