<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h4 class="my-5 text-center">ブックマーク一覧</h4>
      <% if @bookmark_list.present? %>
        <%= render 'public/plans/index', plans: @bookmark_list %>
      <% else %>
        <p>ブックマークした投稿がありません。</p>
      <% end %>
      <div class="row justify-content-center mb-5">
        <%= paginate @bookmark_list %>
      </div>
    </div>
  </div>
</div>