<div class="container">
  <div class="row">
    <div class="col text-center">
      <h4><b>本当に退会しますか？</b></h4>
        <p>
          退会すると、ユーザー登録情報や<br>
          これまでの投稿履歴が閲覧できなくなります。<br>
          退会する場合は、「退会する」をクリックしてください。
        </p>

          <%= link_to "キャンセル", user_path(current_user), class: "btn btn-outline-dark" %>
          <%= link_to "退会する", withdraw_user_path, method: :patch, data: { confirm: "本当に退会しますか？"}, class: "btn btn-outline-danger" %>

    </div>
  </div>
</div>